/* --- lato-light --- */
@font-face {
    font-family: "LatoRegular";
    src: url("fonts/Lato-Light.eot");
    src: url("fonts/Lato-Light.eot?#iefix")format("embedded-opentype"),
    url("fonts/Lato-Light.woff") format("woff"),
    url("fonts/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

/* --- lato-regular --- */
@font-face {
    font-family: "LatoRegular";
    src: url("fonts/Lato-Regular.eot");
    src: url("fonts/Lato-Regular.eot?#iefix")format("embedded-opentype"),
    url("fonts/Lato-Regular.woff") format("woff"),
    url("fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* --- lato-medium --- */
@font-face {
    font-family: "LatoRegular";
    src: url("fonts/Lato-Medium.eot");
    src: url("fonts/Lato-Medium.eot?#iefix")format("embedded-opentype"),
    url("fonts/Lato-Medium.woff") format("woff"),
    url("fonts/Lato-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

/* --- lato-bold --- */
@font-face {
    font-family: "LatoRegular";
    src: url("fonts/Lato-Semibold.eot");
    src: url("fonts/Lato-Semibold.eot?#iefix")format("embedded-opentype"),
    url("fonts/Lato-Semibold.woff") format("woff"),
    url("fonts/Lato-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

/* --- lato-bold --- */
@font-face {
    font-family: "LatoRegular";
    src: url("fonts/Lato-Bold.eot");
    src: url("fonts/Lato-Bold.eot?#iefix")format("embedded-opentype"),
    url("fonts/Lato-Bold.woff") format("woff"),
    url("fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

/* --- LucidaGrande-Bold --- */
@font-face {
    font-family: "LucidaGrande-Bold";
    src: url("fonts/LucidaGrande-Bold.eot");
    src: url("fonts/LucidaGrande-Bold.eot?#iefix")format("embedded-opentype"),
    url("fonts/LucidaGrande-Bold.woff") format("woff"),
    url("fonts/LucidaGrande-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}